<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>

</body>
<script>
    const socket = io();

    socket.on('notification', (data) => {
        alert(`${data.type.toUpperCase()}: ${data.message}`);
    });
</script>
</html>
